* {
    padding: 0;
    margin: 0;
    font-family: "Poppins", Sans-serif;
    font-weight: 500;
}

a, button{
    cursor: pointer;
}

html{
    font-size: 18px;
}

body{
    display: flex;
    height: 100vh;
    flex-direction: column;
}

/* header -------------------------------------*/
header{
    height: clamp(50px, 4rem, 10vh);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
    border-bottom:  2px solid rgb(202, 195, 195);
}

header > div:first-child{
    display: flex;
    align-items: center;
    gap: 25px;
    height: 100%;
}

header > div:first-child h2{
    font-weight: bold;
    font-family: "Open Sans", San serif;
    transform: translateX(-20px);
    font-size: 1.6rem;
}

header > div:first-child img{
    height: 70%;
    width: auto;
}

header nav{
    display: flex;
    gap: 30px;
}

header nav a{
    text-decoration: none;
    color: #696969;
}

header > div:nth-child(2) {
    display: flex;
    gap: 10px;
}

header > div:nth-child(2) button{
    padding: .4rem 2.5rem;
    border: 1px solid darkblue;
    border-radius: 10px;
    background-color: transparent;
}

header > div:nth-child(2) button:first-child{
    color: darkblue;
}

header > div:nth-child(2) button:last-child{
    color: white;
    background: darkblue;
}

header > div:last-child{
    display: flex;
    gap: 20px;
}

header > div:last-child button{
    border: none;
    background: transparent;
}

/* end header -------------------------------------*/
body > div{
    flex-grow: 1;
}
.home{
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(to bottom, white 70%, #202020 30%);
    width: 100%;
    
}
i {
   
    position: absolute;

    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}
.home h1{
    margin: 10px;
    font-weight: 700;
    font-size: 2.8rem;
}

.progress{
    display: flex;
    justify-content: space-between;
    padding: 0 max(90px, 8%);
    height: fit-content;
}
.progress_card .i {
    position: absolute;
    right: 58%;
    top: 40%;
    transform: translateY(-50%);
    transform: scale(0.2);
}
.progress_card .i2 {
    position: absolute;
    right: 27%;
    top: 40%;
    transform: translateY(-50%);
    transform: scale(0.2);
}
.progress_card{
    display: flex;
    flex-direction: column;
    width: max(200px, 25%);
    min-height: 400px;
    padding: 15px;
    background: rgb(0,0,80);
    border: 1px solid #DDD;
    border-radius: 15px;
    color: white;
}

.progress_card div{
    flex: 1;
    margin: 10px;
}

b{
    font-size: 20px;
    font-weight: bold;
    margin: 5px;
}

.progress_card h4{
    margin: 5px 0;
}

.progress_card p{
    font-size: 15px;
    text-justify: auto;
}

.progress_card button{
    padding: 8px;
    margin-top: 15px;
    background: #0066cc;
    border-radius: 30px;
    border: none;
    outline: none;
    color: white;
}

footer{
    height: max(70px, 22vh);
    background: #202020;
    color: #D0D0D0;
}

.footer_div {
    width: max(650px, 80vw);
    padding: 15px;
    margin: auto auto;
}

.footer_div .brand{
    margin-right: 50px;
}

.footer_div .brand h2{
    font-weight: bold;
    font-family: "Open Sans", San serif;
    font-size: 2rem;
}

.footer_div .brand img{
    height: 70%;
    width: auto;
}

.footer_div div:first-child{
    display: flex;
    justify-content: space-between;
    height: 80px;
    align-items: center;
}

.footer_div div:first-child div:last-child{
    display: flex;
    justify-content: space-between;
    min-width: 500px;
    width: 800px;
}

.footer_div div:first-child button{
    font-size: .9rem;
    border: none;
    background: transparent;
    white-space: nowrap;
    color: #D0D0D0;
}

.footer_div div:last-child{
    display: flex;
    justify-content: space-between;
    height: 80px;
    align-items: center;
}

.footer_div div:last-child select{
    border: 2px solid #D0D0D0;
    background: transparent;
    padding: 8px;
    border-radius: 10px;
    color: #D0D0D0;
}

.footer_div div:last-child option{
    color: white;
    background: black;
}

.footer_div div:last-child p{
    font-size: 0.8rem;
}

.footer_div div:last-child a{
    margin-left: 8px;
}