<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Title</title>
</head>
<body>
    <aside>
        <div>
            <img >
            <nav>
                <a>Backlog</a>
                <a>Board</a>
                <a>Feedback</a>
                <a>Reports</a>
                <a>Settings</a>
            </nav>
            <hr>
            <nav>
                <a>Publish</a>
                <a>Today Schedule</a>
                <a>Bookmarks</a>
            </nav>
        </div>
        <button>Invite new member</button>
    </aside>
    <div>
        <header>
            <input type="text" placeholder="Search">
            <div>
              <button>settings icon</button>
              <button>notification icon</button>
              <button>profile</button>
            </div>
        </header>

        <div>
            <h1>Report</h1>
            <div>
                <button>download</button>
                <button>filter_icon</button>
            </div>
        </div>

        <div>
            <div id="participant">
                <span>
                    <span>icon</span>
                    <span>perc</span>
                </span>
            </div>
            <div id="passing_rate">
                <span>
                    <span>icon</span>
                    <span>perc</span>
                </span>
            </div>
            <div>
                <h3>Subject</h3>
                <h5>Most Answered Question</h5>
                <h4>Question Number #</h4>
                <h5>Least Answered Question</h5>
                <h4>Question Number #</h4>
            </div>
            <div>
                <!-- progress -->
            </div>
        </div>
        <div>
            <div>
                <!-- chart -->
            </div>
            <div>
                <div>
                    <div>
                        <h3>Question number #</h3>
                        <p>the question</p>
                        <span>percentage correct</span>
                    </div>
                    <div>
                        <!-- pie graph -->
                    </div>
                </div>
                <div>
                    <div>
                        <h3>Question number #</h3>
                        <p>the question</p>
                        <span>percentage correct</span>
                    </div>
                    <div>
                        <!-- pie graph -->
                    </div>
                </div>
                <div>
                    <h2>Feedback</h2>
                    <div>
                        <div>chart 1</div>
                        <div>chart 2</div>
                        <div>chart 3</div>
                    </div>
                    <div>
                        <span>very stistfied</span>
                        <span> Satisfied </span>
                        <span> Dissatisfied </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>