<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <aside>
        <div>
            <img src="#">
            <nav>
                <a>Backlog</a>
                <a>Board</a>
                <a>Feedback</a>
                <a>Reports</a>
                <a>Settings</a>
            </nav>
            <hr>
            <nav>
                <a>Publish</a>
                <a>Today Schedule</a>
                <a>Bookmarks</a>
            </nav>
        </div>
        <button>Invite new member</button>
    </aside>
    <div>
        <header>
            <input type="text" placeholder="Search">
            <div>
              <button>settings icon</button>
              <button>notification icon</button>
              <button>profile</button>
            </div>
        </header>

        <div>
            <h1>Report</h1>
            <div>
                <button>download</button>
                <button>filter_icon</button>
            </div>

        </div>
    </div>
</body>
</html>