{% extends 'base.html' %}
{% load static %}
{% block link %}
    <link rel="stylesheet" href="{% static 'styles/home_page.css' %}?v={{ timestamp }}">
{% endblock %}

{% block content %}
    <div class="home">
        <h1>Examination Progress</h1>
        <div class="progress">
            <div class="progress_card">
                <h4><b>day 1</b></h4>
                <div>
                    <h5><b>AERODYNAMICS</b> - 20%</h5>
                    <p>Fundamentals of Low-High Speed
                        Aerodynamics Application of Aerodynamics to
                        Fixed/ Rotary Wiring Aircraft Configurations,
                        Performance, Stability and Control; Wind Tunnels and Application
                    </p>
                </div>
                <div>
                    <h5><b>Mathematics</b> - 10%</h5>
                    <p>Algebra, Trigonometry, Analytical Geometry,
                        Calculus and Differential Equation with
                        Aeronautical Engineering Applications
                    </p>
                </div>
                <a href="\mock_exam"><button>START</button></a>
            </div>

            <div class="progress_card">
                <h4><b>day 2</b></h4>
                <div>
                    <h5><b>AIRCRAFT STRUCTURES AND DESIGN</b> - 20%</h5>
                    <p>Aircraft Design Fundamentals; Structural Loading Conditions;
                        Structural Analysis and Design of Airframe Components;
                        Landing Gears, Engine Mounts and Other Structural Parts;
                        Non-Structural Components Design
                    </p>
                </div>
                <div>
                    <h5><b>AIRCRAFT CONSTRUCTION, REPAIR AND MODIFICATION</b> - 15%</h5>
                    <p>Aircraft Materials and Processes; Methods and Techniques
                        in Repair and Modification in accordance with Civil
                        Airworthiness Regulations; Manufacturing/Production
                        Processes and Quality Assurance
                    </p>
                </div>
                <a href="\mock_exam"><button>START</button></a>
            </div>

            <div class="progress_card">
                <h4><b>day 3</b></h4>
                <div>
                    <h5><b>AIRCRAFT POWER PLANT</b> - 20%</h5>
                    <p>Thermodynamics and Power Plant Design and
                        Operation Fundamentals with Applications to
                        Internal Combustion Engine Reciprocation
                        Engines Aircraft Gas Turbines, Pulsejet and
                        Ramjet, Rocket Propulsion System and other
                        Aircraft Power Systems
                    </p>
                </div>
                <div>
                    <h5><b>ENGINEERING ECONOMICS AND MANAGEMENT LAWS AND ETHICS</b> - 15%</h5>
                    <p>Principle of Economics and Management as Applied to Aviation
                        Industry; Laws, Rules and Regulations Governing the Practice
                        of Aeronautical Engineering to include PD 1570, Rules and
                        Regulations with Code of Professional Ethics of the Board of
                        Aeronautical Engineering and others (International Aviation Laws)
                    </p>
                </div>
                <a href="\mock_exam"><button>START</button></a>
            </div>



        </div>
    </div>

{% endblock %}