* {
    padding: 0;
    margin: 0;
    font-family: "Poppins", Sans-serif;
    font-weight: 500;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: inherit;
}

button{
    padding: 5px 10px;
    border: 1px solid green;
    border-radius: 10px;
    margin: 10px;
    cursor: pointer;
}

button.cancel{
    border: 1px solid gray;
}

button.delete{
    border: 1px solid red;
}

input{
    width: 350px;
}

hr{
    margin: 30px 0;
}

body{
    display: flex;
    height: 100vh;
    width: 100vw;
}

.brand{
    margin-right: 50px;
    height: 80px;
    display: flex;
    align-items: center;
}

.brand h2{
    font-weight: bold;
    font-family: "Open Sans", San serif;
    font-size: 1.7rem;
}

.brand img{
    height: 70%;
    width: auto;
}

aside {
    height: 100%;s
    width: 280px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

aside nav{
    display: flex;
    flex-direction: column;
    gap: 3px;
    color: #555;
    width: 280px;
}

ul, li{
    width: 280px;
}

aside nav a{
    width: 280px;
    padding: 20px;
    border-radius: 10px;
}

.dropdown-menu {
    display: none;
    position: absolute;
    left: 195px;
    background: #0250a3;
    padding: 10px 0;
    border-radius: 5px;
    z-index: 1000;
}

.dropdown:hover .dropdown-menu {
    display: block;
}
.dropdown-menu a {
    color: white;
    text-decoration: none;
    padding: 8px 15px;
    display: block;
}

.dropdown-menu a:hover {
    background: #026de0;
}

aside nav a:hover{
    background: #026de0;
    color: white;
}

.highlight_nav{
    background: #0250a3;
    color: white;
}

aside button{
    padding: 10px;
    border: 1px solid #003090;
    color: #003090;
    border-radius: 15px;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.page_name{
    color: white;
    padding: 8px;
    border-radius: 10px;
    background: #0250a3;
}

#view > div{
    border-radius: 10px;
    background: #0250a3;
    display: flex;
    justify-content: space-between;

}

header div:last-child {
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: 10px;
}

body > div{
    flex: 1;
    padding: 20px 30px;
}

header button{
    color: #444;
    border: none;
    background: transparent;
}

header input{
    color: #222;
    border: none;
    background: #DDD;
    padding: 10px;
    width: max(100px, 20vw);
    border-radius: 30px;
}

header input::placeholder {
  color: #333;
  opacity: 1;
}

header input:focus {
  border: none;
  outline: none;
}

header div button{
    margin: 6px;
}

.section{
    height: 80px;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section div{
    display: flex;
    align-items: center;
    gap: 10px;
    height: 100%;
}

.section button{
    height: 50%;
    border: none;
    padding: 8px;
    color: #555;
    border-radius: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}
th, td {
    padding: 12px 15px;
    border: 1px solid #ddd;
    text-align: left;
}
th {
    background: #007bff;
    color: white;
}
tr:nth-child(even) {
    background: #f2f2f2;
}
tr:hover {
    background: #d1ecf1;
}

th:first-child {
    border-top-left-radius: 10px;
}
th:last-child {
    border-top-right-radius: 10px;
}
tr:last-child td:first-child {
    border-bottom-left-radius: 10px;
}
tr:last-child td:last-child {
    border-bottom-right-radius: 10px;
}

.container{
    display: flex;
    height: 100vh;
    flex-direction: column;
}

.container > div{
    flex-grow: 1;
    overflow-y: auto;
}

label{
    padding: 8px 15px;
    font-size: 18px;
    width: 180px;
    display: inline-block;
}

.errorlist, .errorlist li{
    font-size: 16px;
    width: 100%;
    color: red;
}

/* ---------------------------------------- */

.diagonal-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(120deg, rgba(255, 255, 255, 0.5) 55%, rgba(255, 255, 255, 1) 45%);
    z-index: 11;
}

/* Show state */
.diagonal-background.show {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.Login {
    width: min( calc(90vw - 200px), 500px);
    padding: 40px 80px;
    background-color: #fff;
    border-radius: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    position: fixed;
    top: 50%;
    right: 100px;
    transform: translateY(-50%);
}

.Login.show {
    opacity: 1;
    visibility: visible;
    transform: translateY(-50%);
    transition: opacity .3s ease, transform .3s ease;
}

.header-class {
    display: grid;
    place-items: center;
    font-size: .8rem;
    height: clamp(50px,4rem,10vh);
    color:black;
    margin-bottom: 50px;
    line-height: 30px;
}

.input-box {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
    padding: 0;

}
.input-box input {
    width: 100%;
    height: 80%;
    background: #eee;
    border-radius: 13px;
    border: none;
    outline: none;
    font-size: .75rem;
    letter-spacing: 1px;
    color: black;
    padding: 0 15px;
    box-sizing: border-box;
}

.input-box input::placeholder{
    color: #555;
}
.input-box i {
    position: absolute;
    right: 20px;
    top: 90%;
    transform: translateY(-50%);
    font-size: 20px;

}

.input-box label {
    position: left;
    color: #555;
    font-weight: 500;
}

.forgot-password {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 14px;
    font-size: 14px;
}
.forgot-password a {
    text-decoration: none;
    color: darkblue;
}
.forgot-password a:hover{
    text-decoration: underline;
}
.submit-button {
    width: 100%;
    padding: 15px;
    font-size: 1rem;
    font-family: 'Arial';
    letter-spacing: 1px;
    font-weight: 500;
    color: white;
    background: darkblue;
    border-radius: 13px;
    border: none;
    outline: none;
    cursor: pointer;
}

.or{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    color: #555;
}

.Login p {
    font-size: .75rem;
    margin: 15px 0;
    text-align: center;
}

.or p{
    background: white;
    z-index: 1;
    position: relative;
    width: 40px;
}

.or hr{
    margin: -25px 0 25px 0; width: 100%;
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-bottom: 30px;
}

.social-icons a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 45px;
    border: 2px solid #ccc;
    border-radius: 8px;
    font-size: 24px;
    color: #333;
    text-decoration: none;
    transition: 0.3s ease;
}

.social-icons a:hover {
    background-color: #ddd;
}


.error_messages{
    position: fixed;
    bottom: 50px;
    right: 50px;
}

.error_messages ul{
    list-style: none;
}

.error_messages li{
    border: 1px solid #ff0000;
    background: #ff8080;
    font-size: .8rem;
    margin: 3px;
    padding: 10px;
    border-radius: 6px;
    opacity: 0;
    animation: fadeInOut 6s ease-in-out forwards; /* Adjust duration as needed */
}

    .error_messages li:nth-last-child(1) { animation-delay: 0s; }
    .error_messages li:nth-last-child(2) { animation-delay: 2s; }
    .error_messages li:nth-last-child(3) { animation-delay: 4s; }
    .error_messages li:nth-last-child(4) { animation-delay: 6s; }
    .error_messages li:nth-last-child(5) { animation-delay: 8s; }

    @keyframes fadeInOut {
        0% { opacity: 0; transform: translateY(-10px); } /* Start hidden & slightly above */
        5% { opacity: 1; transform: translateY(0); }   /* Fade in */
        80% { opacity: 1; transform: translateY(0); }   /* Stay visible */
        100% { opacity: 0; transform: translateY(10px); visibility: hidden; display: none; } /* Fade out */
    }

#generated, #setting{
    display: flex;
    width: 100%;
    padding: 20px;
    gap: 20px;
}

#generated > button{
    padding: 5px;
}

#preview {
    flex: 1;
}
#preview table{
    font-size: 14px;
}


    .generated-container {
        display: flex;
        align-items: center; /* Aligns the items vertically in the middle */
        justify-content: space-between; /* Distributes space between the text, spinner, and button */
        width: 100%; /* Ensures the container takes up the full width */
    }

    .generated-text {
        display: flex;
        align-items: center; /* Vertically aligns the text and spinner */
    }

    #loading-spinner {
        margin-left: 10px;
        display: none; /* Initially hidden */
    }

    .spinner {
        width: 20px;
        height: 20px;
        border: 4px solid #f3f3f3;
        border-top: 4px solid #3498db;
        border-radius: 50%;
        animation: spin 1s linear infinite;
    }

    @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
    }


#setting{
    flex-direction: column;
}

#setting_table input{
    width: 100%;
    height: auto;
}

#reset_exam{
    border-color: red;
}