* {
    padding: 0;
    margin: 0;
    font-family: "Poppins", Sans-serif;
    font-weight: 500;
}


a, button{
    cursor: pointer;
}

html{
    font-size: 18px;
}

body{
    display: flex;
    height: 100vh;
    flex-direction: column;
}

/* header -------------------------------------*/
header{
    height: clamp(50px, 4rem, 10vh);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;

}

header > div:first-child{
    display: flex;
    align-items: center;
    gap: 25px;
    height: 100%;
}

header > div:first-child h2{
    font-weight: bold;
    font-family: "Open Sans", San serif;
    transform: translateX(-20px);
    font-size: 1.6rem;
}

header > div:first-child img{
    height: 70%;
    width: auto;
}

header nav{
    display: flex;
    gap: 30px;
}

header nav a{
    text-decoration: none;
    color: #696969;
}

header > div:nth-child(2) {
    display: flex;
    gap: 10px;
}
a  .button {
    padding: .4rem 2.5rem;
    border: 1px solid darkblue;
    border-radius: 10px;
    background-color: transparent;
}
header > div:nth-child(2) button{
    padding: .4rem 2.5rem;
    border: 1px solid darkblue;
    border-radius: 10px;
    background-color: transparent;
}

header > div:nth-child(2) button:first-child{
    color: darkblue;
}

header > div:nth-child(2) button:last-child{
    color: white;
    background: darkblue;
}

header > div:last-child{
    display: flex;
    gap: 20px;
}

header > div:last-child button{
    border: none;
    background: transparent;
}

/* end header -------------------------------------*/
body > div{
    flex-grow: 1;
}

.container{
    display: flex;
    flex-direction: column;
    height: 100%;
}

/* footer -------------------------------------*/
footer{
    height: max(70px, 22vh);
    background: #202020;
    color: #D0D0D0;
}

.footer_div {
    width: max(650px, 80vw);
    padding: 15px;
    margin: auto auto;
}

.footer_div .brand{
    margin-right: 50px;
}

.footer_div .brand h2{
    font-weight: bold;
    font-family: "Open Sans", San serif;
    font-size: 2rem;
}

.footer_div .brand img{
    height: 70%;
    width: auto;
}

.footer_div div:first-child{
    display: flex;
    justify-content: space-between;
    height: 80px;
    align-items: center;
}

.footer_div div:first-child div:last-child{
    display: flex;
    justify-content: space-between;
    min-width: 500px;
    width: 800px;
}

.footer_div div:first-child button{
    font-size: .9rem;
    border: none;
    background: transparent;
    white-space: nowrap;
    color: #D0D0D0;
}

.footer_div div:last-child{
    display: flex;
    justify-content: space-between;
    height: 80px;
    align-items: center;
}

.footer_div div:last-child select{
    border: 2px solid #D0D0D0;
    background: transparent;
    padding: 8px;
    border-radius: 10px;
    color: #D0D0D0;
}

.footer_div div:last-child option{
    color: white;
    background: black;
}

.footer_div div:last-child p{
    font-size: 0.8rem;
}

.footer_div div:last-child a{
    margin-left: 8px;
}