*{
    padding: 0;
    margin: 0;
    font-family: "Open Sans", San serif;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: inherit;
    font-weight: 600;
}

.home{
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(to bottom, white 70%, #202020 30%);
}

.home h1{
    margin: 10px;
    font-weight: 700;
    font-size: 2.8rem;
}

.progress{
    display: flex;
    justify-content: space-between;
    padding: 0 max(90px, 8%);
}

.progress_card{
    display: flex;
    flex-direction: column;
    width: max(200px, 25%);
    min-height: 400px;
    padding: 15px;
    background: none;
    border-radius: 15px;
    color: black;
}

.subject_card{
    background: rgb(0,0,80);
    color: white;
    padding: 15px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.subject_card a{
}

.progress_card > div{
    height: 50%;
}

.progress_card div{
    margin: 10px;
}

b{
    font-weight: bold;
}

.progress_card h4{
    margin: 5px 0;
}

.progress_card p{
    font-size: min(.95vw, .7rem);
}

.progress_card button{
    padding: 8px;
    margin-top: 15px;
    background: #0066cc;
    border-radius: 13px;
    border: none;
    outline: none;
    color: white;
    width: 100%;
}

.progress_card button.disable{
    background: gray;
}