*{
    padding: 0;
    margin: 0;
    font-family: "Open Sans", San serif;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: inherit;
    font-weight: 600;
}

body{
    height: 100vh;
}

.home{
    margin-top: px;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(to bottom, white 70%, #202020 30%);
}

.home h1{
    margin: 10px;
    font-weight: 700;
    font-size: 2.6rem;
}

.progress{
    display: flex;
    justify-content: space-between;
    padding: 0 max(90px, 8%);
}

.progress_card{
    display: flex;
    flex-direction: column;
    width: max(250px, 28%);
    min-height: 400px;
    padding: 0 15px;
    background: none;
    border-radius: 15px;
    color: black;
}

.subject_card{
    background: rgb(0,0,80);
    color: white;
    padding: 15px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.subject_card a{
}

.progress_card > div{
    height: 50%;
}

.progress_card div{
    margin: 10px;
}

b{
    font-weight: bold;
}

.progress_card h4{
    margin: 5px 0;
}

.progress_card p{
    font-size: min(.95vw, .7rem);
}

.progress_card button{
    padding: 8px;
    margin-top: 15px;
    background: #0066cc;
    border-radius: 13px;
    border: none;
    outline: none;
    color: white;
    width: 100%;
}

.progress_card button.disable{
    background: gray;
}

    .messages {
        width: 100%;
        position: fixed;
        top: 80px;
        left: 0;
        z-index: 9999;
        display: flex;
        justify-content: right;
        padding: 10px;
        color: white;
    }

    .alert {
        background-color: #4CAF50; /* Green */
        color: white;
        padding: 15px 30px;
        border-radius: 5px;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
        animation: fadeout 0.5s ease-in-out forwards;
        animation-delay: 5s;
    }

    .alert.error {
        background-color: #f44336; /* Red */
    }

    .alert.warning {
        background-color: #ff9800; /* Orange */
    }

    .alert.info {
        background-color: #2196F3; /* Blue */
    }

    @keyframes fadeout {
        0%   { opacity: 1; }
        90%  { opacity: 1; }
        100% { opacity: 0; visibility: hidden; }
    }